div.utm_notification {
	position: absolute;
	border: 1px solid #000;
	background: #dbe2e3;
	padding: 15px;
}
	button.utm_notification_close {
		position: absolute;
		right: 0;
		top: 0;
		width: 16px;
		height: 16px;
		background: #f00;
	}