div.utm_console {
	height: 100%;
	background: #000;
}
div.utm_console, div.utm_console * {
	font: .9em "mono";
	color: #ccc;
}
input.utm_console_input {
	border: none;
	background: none;
	display: block;
	width: 100%;
}
