table.utm_grid {
	border: 1px solid #b4c0c3;
	border-collapse: collapse;
	display: block;
}
	table.utm_grid * {
		white-space: nowrap;
	}
	table.utm_grid tr {
		background: #fff;
		width: 100%;
	}
		table.utm_grid th {
			text-align: left;
		}
		table.utm_grid td {
			border: 1px solid #b4c0c3;
		}