/* main body */
div.utm_window {
	font: .8em "sans", "undotum", "trebuchet ms";
	position: absolute;
	visibility: hidden;
}

/* controls */
div.utm_window div.utm_window_controls {
	position: absolute;
	right: 2px;
	top: 2px;
}
div.utm_window div.utm_window_controls button {
	border: none;
	background: url(buttons.png) no-repeat;
	height: 20px;
	width: 28px;
}
button.utm_window_button-min {
	background-position: left !important;
}
button.utm_window_button-max {
	background-position: -28px 0 !important;
}
button.utm_window_button-close {
	width: 39px !important;
	background-position: right !important;
}
div.utm_window div.utm_window_resize {
	background: url(resize.png) no-repeat;
	bottom: 4px;
	height: 13px;
	position: absolute;
	right: 4px;
	width: 20px;
}

div.utm_window div.utm_window_resize_handler {
	bottom: 0;
	cursor: se-resize;
	height: 15px;
	position: absolute;
	right: 0;
	width: 20px;
}

/* top corners + title bar */
div.utm_window div.utm_window_top-left-corner {
	width: 6px;
	height: 30px;
	float: left;
	background: url(corners.png) no-repeat top left;
}
div.utm_window div.utm_window_title {
	background: url(y-borders.png) repeat-x top;
	color: #6b858c;
	cursor: default;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin: 0 6px;
	overflow: hidden;
	text-align: center;
}
div.utm_window div.utm_window_top-right-corner {
	width: 6px;
	height: 30px;
	float: right;
	background: url(corners.png) no-repeat top right;
}

/* side borders + content */
div.utm_window div.utm_window_left-border {
	background: url(x-borders.png) repeat-y left;
}
div.utm_window div.utm_window_content {
	background: #dbe2e3;
	margin: 0 4px;
	overflow: auto;
}
div.utm_window div.utm_window_right-border {
	background: url(x-borders.png) repeat-y right;
}

/* bottom corners + status bar */
div.utm_window div.utm_window_bottom-left-corner {
	width: 6px;
	height: 21px;
	float: left;
	background: url(corners.png) no-repeat bottom left;
}
div.utm_window div.utm_window_status {
	background: url(y-borders.png) repeat-x bottom;
	color: #6b858c;
	cursor: default;
	font-size: 11px;
	height: 21px;
	line-height: 21px;
	margin: 0 6px;
	overflow: hidden
}
div.utm_window div.utm_window_bottom-right-corner {
	width: 6px;
	height: 21px;
	float: right;
	background: url(corners.png) no-repeat bottom right;
}
