ul.utm_menu {
	font: 14px "sans", "undotum", "trebuchet ms";
	color: #005;
}
ul.utm_menu, ul.utm_menu * {
	list-style: none;
	cursor: default;
	background: #dbe2e3;
	padding: 0;
	margin: 0;
}
	ul.utm_menu li {
		display: inline;
		padding: 0 5px;
		margin: 0 2px;
		white-space: nowrap;
	}
		ul.utm_menu li span {
			background: transparent;
		}
		ul.utm_menu li span.utm_menu_item_right {
			float: right;
		}
		ul.utm_menu li ul {
			position: absolute;
			padding: 2px;
			border: 1px solid #cbd6d7;
		}
			ul.utm_menu li ul li {
				display: block;
				padding: 0 5px;
				margin: 0;
			}
				ul.utm_menu li ul li span.utm_menu_item_label {
					margin-right: 10px;
				}