ul.utm_menu, ul.utm_menubar {
	font: 14px "sans", "undotum", "trebuchet ms";
	background: #dbe2e3;
	color: #586e73;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
	ul.utm_menu *, ul.utm_menubar * {
		margin: 0;
		padding: 0;
		background: #dbe2e3;
	}

ul.utm_menu {
	position: absolute;
	border: 1px solid #b4c0c3;
	padding: 2px;
}

ul.utm_menubar {
	padding: 2px;
}
ul.utm_menubar li {
	display: inline;
	padding: 2px 3px;
	margin: 0 2px;
}